.chattingFormFrame {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 5;
    font-family: 'Pretendard';
  }
  
  .chatInput {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ddd;
    margin: 0 10px;
    font-size: 14px;
  }
  
  .chatIcon {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
  
  .photoButton {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .placeholderIconSpace {
    width: 24px;
    height: 24px;
  }
  
  .sendButton {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .previewContainer {
    position: fixed;
    bottom: 90px;
    left: 10%;
    right: 10%;
    z-index: 9;
  }
  
  .previewContent {
    position: relative;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    padding: 5px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .previewImage {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .closePreviewButton {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
  }
  
  .closeIcon {
    width: 20px;
    height: 20px;
    filter: invert(20%);
  }
  
  .loginOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .loginOverlayContent {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .loginOverlayButtons button {
    margin: 0 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  