/* styles/globals.css */
  *, *::before, *::after {
    box-sizing: border-box;
  }
  
  html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; /* 모바일에서 수평 스크롤 방지용 */
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
  }

  @font-face {
    font-family: "Jeju Myeongjo";
    src: url("/ttf/JejuMyeongjo.ttf") format("truetype");
    font-display: swap;
  }
  